<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>利富建設股份有限公司</title>
    <link href="~/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />

    <script src="../../js/jquery-1.7.min.js"></script>
    
   
    @RenderSection("scripts", required: false)
   
</head>

<body>

    <div id="wrapper_bg">
        <div id="wrapper_bg_up">
            <div id="wrapper_bg_down">

                <div id="contain">

                    @Html.Partial("_Menu")
                    <!-------------------------Content Start------------------------->
                   

                        @RenderBody()
                        

                   
                    <!-------------------------Content End------------------------->
                   @Html.Partial("_Footer")
                </div>
            </div>
        </div>
    </div>

</body>
</html>
